<!--<ngx-breadcrumbs>
  <ngx-breadcrumb-root-breadcrumb></ngx-breadcrumb-root-breadcrumb>
</ngx-breadcrumbs>-->
<ngx-breadcrumbs>

</ngx-breadcrumbs>
<div class="container">
  <h1>ngx-breadcrumbs demo</h1>
  <h2>Trigger routing</h2>
  <button (click)="toOne()">One</button>
  <button (click)='toTwo()'>Two</button>
  <div class="routing-container">
    <h2>Routed components</h2>
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #sep>
  //
</ng-template>
<ng-template #bc let-last="last" let-bread>
  {{last}}
  {{bread?.title }}
</ng-template>

