/* You can add global styles to this file, and also import other style files */
:root {
  --ngx-breadcrumb-container-bg-color: #efefef;
  --ngx-breadcrumb-container-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;

}


.container{
  width: 80%;
  margin: auto;
  margin-top: 32px;
}
.routing-container{
  margin-top: 16px;
  background-color: #efefef;
  padding: 8px;
}
